body {
    background-color: #00acff;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    top: 0;
    width: 100%;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #000032;
}

.navbar li {
    display: inline-block;
    margin: 12px;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
}

.navbar img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.hero {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    margin-top: 50px;
    width: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

.flex-container h1 {
    font-size: 32px;
    text-align: left;
}

.flex-container p {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.flex-container .next {
    margin-top: 100px;
    margin-right: 150px;
    padding-left: 300px;
}

.flex-container .next a {
    color: white;
}

.flex-container  .next a:hover {
    color: #000032;
}

.flex-container .previous {
    margin-top: 100px;
    margin-left: 150px;
    padding-right: 300px;
}

.flex-container .previous a {
    color: white;
}

.flex-container  .previous a:hover {
    color: #000032;
}